mat-card {
  height: 400px;
}

.event-container {
  padding: 1.5rem;
}

h6 {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.header {
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
}

.tag-list {
  height: 40px;
}
