.name {
  font-size: 14px !important;
}

.email {
  font-size: 12px !important;
  font-weight: 200;
}

.mat-list-icon {
  height: 36px !important;
  width: 36px !important;
}

img {
  margin-left: 1rem;
}

a {
  color: #fff !important;
}
