$mat-stevens-red: (
  50: #f3e4e6,
  100: #e1bbc1,
  200: #cd8e97,
  300: #b9616d,
  400: #aa3f4e,
  500: #9b1d2f,
  600: #931a2a,
  700: #891523,
  800: #7f111d,
  900: #6d0a12,
  A100: #ff9fa4,
  A200: #ff6c74,
  A400: #ff3944,
  A700: #ff1f2c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$mat-stevens-charcoal: (
  50: #e7e7e7,
  100: #c2c2c2,
  200: #999999,
  300: #707070,
  400: #525252,
  500: #333333,
  600: #2e2e2e,
  700: #272727,
  800: #202020,
  900: #141414,
  A100: #ef6e6e,
  A200: #ea4040,
  A400: #f60000,
  A700: #dd0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$mat-stevens-grey: (
  50: #f3f3f3,
  100: #e0e0e0,
  200: #cccccc,
  300: #b8b8b8,
  400: #a8a8a8,
  500: #999999,
  600: #919191,
  700: #868686,
  800: #7c7c7c,
  900: #6b6b6b,
  A100: #fdeaea,
  A200: #f8bcbc,
  A400: #ff8181,
  A700: #ff6868,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
