@import "~@angular/material/theming";
@include mat-core();

@import "./pallete.scss";

// Typography
$custom-typography: mat-typography-config(
  $font-family: "Open Sans",
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400)
);
@include angular-material-typography($custom-typography);

// Base theme
$theme-primary: mat-palette($mat-stevens-red, 900, 700, 200);
$theme-accent: mat-palette($mat-stevens-grey, 800, 700, 600);
$theme-warn: mat-palette($mat-stevens-red);
$background-color: map_get($mat-stevens-charcoal, 50);

$main-theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
@include angular-material-theme($main-theme);
