<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://gitlab.com/stevens-software/webapp">
                        GitLab
                    </a>
                </li>
                <li>
                    <a href="https://gitlab.com/stevens-software/webapp/-/issues">
                        Report Issues
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/download']">
                        Download
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}} Stevens Software <br> A TreadEase Subsidiary.
        </div>
    </div>
</footer>