<div class="download-container">
    <div class="row">
        <div class="col">
            <h3>Get the Mobile App</h3>
            <img @fadeUp class="mobile-preview" src="./assets/img/mobile-preview.png" alt="">
            <div class="download-button-container">
                <a href="#">
                    <img src="./assets/img/google-play.png">
                </a>
                <a href="#">
                    <img src="./assets/img/apple-store.png">
                </a>
            </div>
        </div>
        <div class="col">
            <h3>Download Desktop App</h3>
        </div>
    </div>
</div>