mat-form-field {
    font-size: 12px !important;
    margin-left: 0.5rem;
    width: 100%;
}

.location {
    display: flex;
    flex-direction: row;
    mat-form-field {
        flex: 1;
    }
}

.description-field {
    width: 100% !important;
    height: 200px;
}

.title-field {
    font-size: 16px !important;
}

mat-icon.input-icon {
    margin-bottom: 16.125px !important;
    margin-right: 1rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.input-row {
    display: flex;
    align-items: space-evenly;

    button {
        margin-bottom: 10px;
        transition: all 200ms ease;
        background-color: #333;
    }
    button:hover {
        background-color: #424242;
    }
}

.hidden-field {
    display: block !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
}

input::placeholder {
    color: #ccc;
}
