<div @fader class="login-container">
    <form class="row">
        <div class="img-container col-md-12">
            <img class="logo" src="assets/img/logo-full.png" alt="Stevens Software">
        </div>
        <div class="button-container">
            <button mat-raised-button class="btn btn-primary btn-round" type="button" (click)="auth.googleSignin()">
                <img class="button-logo" src="assets/img/button-logo.png" alt="">
                Sign in with Stevens
            </button>
        </div>
        <div *ngIf="auth.invalidCredential" class="col-md-12 error-message">
            <p>A valid <strong>Stevens</strong> email is required.</p>
        </div>
    </form>
</div>