<style>
    :host {
        font-family: "Roboto";
        font-size: 14px;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<div class="login-container">
    <form class="row">
        <div class="img-container col-md-12">
            <img class="logo" src="assets/images/logo-full.png" alt="">
        </div>
        <mat-form-field class="col-md-12" color="accent" appearance="outline">
            <mat-label>you@stevens.edu</mat-label>
            <input matInput type="email">
        </mat-form-field>
    </form>
</div>