.login-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.login-container .row {
  max-width: 300px;
}

.logo {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-logo {
  width: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 10px;
  font-size: 12px;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #ccc;
    background-color: #444;
    border-radius: 5px;
  }
  mat-form-field {
    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: #ccc;
    }
  }
}

.error-message {
  margin-top: 2rem;
  text-align: center;
  color: #ccc;
  font-weight: 100;
  font-size: 12px;
}
