<!-- <h4 mat-dialog-title>Create a new event</h4> -->
<mat-dialog-content class="mat-typography">
    <form [formGroup]="eventForm">
        <mat-form-field appearance="standard">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Last Wednesday" formControlName="title">
        </mat-form-field>
        <mat-grid-list class="input" cols="7" rowHeight="1:1" gutterSize="10px">
            <mat-grid-tile colspan="1">
                <mat-icon>access_time</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill">
                    <mat-label class="detail-icon">Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="day">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill">
                    <mat-label>Start</mat-label>
                    <mat-select formControlName="start">
                        <mat-option *ngFor="let time of times; let i = index" [value]="i">{{time.str}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <mat-form-field appearance="fill">
                    <mat-label>End</mat-label>
                    <mat-select formControlName="end">
                        <mat-option *ngFor="let time of times; let i = index" [value]="i">{{time.str}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <mat-icon>location_on</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field appearance="fill">
                    <mat-label>Building</mat-label>
                    <input matInput placeholder="Altofer Lab" formControlName="building">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field appearance="fill">
                    <mat-label>Room</mat-label>
                    <input matInput placeholder="100" formControlName="room">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <mat-icon>more_horiz</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile class="full-width" colspan="6">
                <mat-form-field appearance="fill">
                    <mat-chip-list #chipList aria-label="Event tags">
                        <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add tags..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                            {{tag}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <mat-icon>notes</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile class="full-width" colspan="6" rowspan="2">
                <mat-form-field class="no-margin" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Describe the event..." formControlName="description"></textarea>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<div>
    <button mat-raised-button type="button" class="button" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="button" class="button" (click)="create()">Create</button>
</div>