.button {
  margin-right: 1rem;
}

.mat-form-field-flex {
  padding: 0rem;
}

mat-form-field {
  font-size: 12px !important;
  // margin-left: 0.5rem;
  // margin-right: 0.5rem;
  width: 100%;
}

.no-margin {
  margin-left: 0rem;
  margin-right: 0rem;
}

.full-width > mat-form-field {
  width: 100%;
}

.detail-icon {
  color: #333;
  display: inline-flex;
  vertical-align: middle;
}

.input-container {
  display: flex;
}

textarea {
  height: 80px;
}
