<style>
    :host {
        font-family: "Roboto";
        font-size: 14px;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .background {
        position: fixed;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        z-index: -10;
    }

    .background svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }
</style>

<div @backgroundEnter class="background">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="1080"
        viewBox="0 0 1920 1080">
        <defs>
            <!-- <filter id="charcoal-filter" x="-120" y="-117" width="2160" height="855.798" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha" />
                <feGaussianBlur stdDeviation="40" result="blur" />
                <feFlood />
                <feComposite operator="in" in2="blur" />
                <feComposite in="SourceGraphic" />
            </filter> -->
            <filter id="blood-filter" x="-120" y="327.333" width="2160.001" height="875.668"
                filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha" />
                <feGaussianBlur stdDeviation="40" result="blur-2" />
                <feFlood />
                <feComposite operator="in" in2="blur-2" />
                <feComposite in="SourceGraphic" />
            </filter>
            <clipPath id="clip-Background">
                <rect width="1920" height="1080" />
            </clipPath>
        </defs>
        <!-- <path id="grey" d="M0,0H1920.349V1080H0Z" transform="translate(0 0)" fill="#999" />
        <g id="charcoal-panel" transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#charcoal-filter)">
            <path id="charcoal" data-name="charcoal" d="M226,2706.8V2091H2146v414L226,2706.8Z"
                transform="translate(-226 -2091)" fill="#333" />
        </g> -->
        <g id="red-panel" transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#blood-filter)">
            <path id="blood" data-name="blood" d="M2393,2444.667H473V1809l1920,338.548v297.119Z"
                transform="translate(-473 -1264.67)" fill="#7f0112" />
        </g>
    </svg>
</div>


<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url()"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
</div>