.logo-full {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.logo-container {
  padding-bottom: 4rem;
}

mat-sidenav-container {
  background-color: #242424 !important;
}

mat-sidenav {
  background-color: #242424 !important;
  width: 65vw;
}

app-nav {
  position: fixed;
  z-index: 10;
  overflow-x: hidden;
  padding: 8px 0;
}

mat-toolbar {
  background-color: transparent;
  color: #fff;
  font-weight: 900;
  border-style: none solid solid solid;
  border-width: 2px;
  border-color: #333;
  background-color: #242424;
}

.container {
  // -webkit-backdrop-filter: blur(5px);
  // -moz-backdrop-filter: blur(5px);
  // -o-backdrop-filter: blur(5px);
  // -ms-backdrop-filter: blur(5px);
  // backdrop-filter: blur(5px);
  min-height: 100vh;
}

.toolbar-container {
  border-color: #333;
  position: fixed;
  z-index: 10;
  pointer-events: none;
  width: 100%;
}

.main-content {
  margin-top: 64px;
  background-color: #242424;
}

.details {
  z-index: 1;
}
