<div class="card">
    <div class="card-body event event-container">
        <div class="author-thumbnail-container">
            <img class="author-thumbnail" [src]="event.authorThumbnail">
        </div>
        <div class="event-content">
            <div class="rsvp-header">
                <div>
                    <h6 class="author">{{event.author}}</h6>
                    <h4>{{event.title}}</h4>
                </div>
                <ng-container *ngIf="ref.childNodes.length != 0">
                    <app-rsvp></app-rsvp>
                </ng-container>
            </div>
            <p class="description">{{event.description}}</p>

            <!-- Tag List Content -->
            <ng-container><span #ref>
                    <ng-content></ng-content>
                </span></ng-container>

            <img *ngIf="event.thumbnail" class="event-thumbnail" [src]="event.thumbnail">

            <div class="row details">
                <div class="col-md-6">
                    <div>
                        <mat-icon inline="true">schedule</mat-icon>
                        <span class="align-to-icon">
                            {{event.day.toDate() | date:'MM/dd'}}
                            {{formatTime(event.start)}} - {{formatTime(event.end)}}
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <mat-icon inline="true">location_on</mat-icon>
                        <span class="align-to-icon"> {{event.building}} {{event.room}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>