<ng-container *ngIf="auth.user$ | async as user">
    <div class="button-container">
        <div *ngIf="auth.canEdit(user)">
            <div class="create-button-large">
                <button mat-raised-button (click)="createEvent()" color="primary">
                    <mat-icon inline="true">add</mat-icon>
                    <span>Create Event</span>
                </button>
            </div>
            <div class="create-button-small">
                <button mat-fab (click)="createEvent()" color="primary">
                    <mat-icon inline="true">add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <mat-nav-list>
        <a *ngFor="let menuItem of menuItems" mat-list-item [routerLink]="[menuItem.path]">
            <mat-icon>{{menuItem.icon}}</mat-icon>
            <span class="item-title">{{menuItem.title}}</span>
        </a>
    </mat-nav-list>
</ng-container>