<mat-toolbar @fader>
    <div class="container toolbar-content">

        <span class="logo">
            <a [routerLink]="['/dashboard']"><img src="assets/images/logo.png"></a>
        </span>
        <span class="spacer"></span>
        <app-search class="spacer"></app-search>
        <span class="spacer"></span>
        <span class="button-group">
            <span class="spacer"></span>
            <button mat-button (click)="auth.signOut()">
                <mat-icon inline="true">lock</mat-icon>
                <span class="button-text">
                    Sign Out
                </span>
            </button>
        </span>
    </div>
</mat-toolbar>