<ng-container *ngIf="auth.user$ | async as user">

    <!-- <div class="create-button-container container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="create-button-inner">
                            <button *ngIf="auth.canEdit(user)" mat-fab (click)="createEvent(user)" color="accent"
                            class="create-button">
                            <mat-icon inline="true">add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

    <div @fader class="row mat-typography main-content">
        <div class="card-col col-md-8 offset-md-2">
            <div class="card-col-header">
                <app-search class="search-container"></app-search>
                <div class="button-container">
                    <button *ngIf="auth.canEdit(user)" mat-raised-button (click)="createEvent(user)" color="primary"
                        class="create-button">
                        <mat-icon inline="true">add</mat-icon> Create event
                    </button>
                    <!-- <button *ngIf="auth.canEdit(user)" mat-raised-button (click)="drawer.toggle()"
                                color="primary" class="create-button">
                                <mat-icon inline="true">add</mat-icon> Create event
                            </button> -->
                </div>
            </div>
            <div *ngIf="events.upcoming$ | async as events; else loadingEvents">
                <div [@cardListFader]="events.length">
                    <mat-card appMaterialElevation *ngFor="let event of events" class="event card-hover"
                        (click)="displayDetails(event)">

                        <div class="card-content">
                            <img [src]="event.thumbnail">

                            <div class="card-text">
                                <h6 class="event-author">
                                    {{event.author}}
                                </h6>
                                <h4 class="event-title">
                                    {{event.title}}
                                </h4>
                                <p class="event-desc">
                                    {{ (event.description.length>6)? (event.description | slice:0:140)+'...':(event.description) }}
                                </p>
                                <div class="row details">
                                    <div class="col-md-6">
                                        <div>
                                            <mat-icon inline="true">schedule</mat-icon>
                                            <span class="align-to-icon">{{event.start.toDate() | date:'MM/dd'}}
                                                {{event.start.toDate() | date:'h:mm a'}} -
                                                {{event.end.toDate() | date:'h:mm a'}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <mat-icon inline="true">location_on</mat-icon>
                                            <span class="align-to-icon"> {{event.building}} {{event.room}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </mat-card>
                </div>
            </div>
            <ng-template #loadingEvents>
                <div class="loading-spinner">
                    <p>Loading...</p>
                    <mat-progress-bar mode="query"></mat-progress-bar>
                </div>
            </ng-template>
        </div>
    </div>
</ng-container>