.card-col {
  padding-bottom: 1rem !important;
}

hr {
  margin-top: 0px;
}

.events-panel {
  // color: #fff;
  background-color: #eeeeee;
  min-height: 50vh;
}

.event {
  margin-bottom: 1rem;

  .align-to-icon {
    font-size: 12px !important;
  }
}

mat-card .event {
  cursor: pointer !important;
}

.event-title {
  font-size: 15px;
  margin-bottom: 0rem;
}

.event-author {
  font-size: 10px;
  font-weight: 800;
  margin-bottom: 0rem;
  text-transform: uppercase;
}

p {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
}

.event-info {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 0rem;
}

.detail-icon {
  color: #333;
  display: inline-flex;
  vertical-align: middle;
}

.spacer {
  flex: 1 1 auto;
}

.create-button {
  margin-bottom: 0.25rem;
}

img {
  max-height: 100px;
  max-width: 200px;
}

.loading-spinner {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-spinner {
  height: 20px !important;
}
