<div class="row mat-typography">

    <div @fader class="card-col col-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>People</mat-card-title>
            </mat-card-header>
            <hr>
        </mat-card>
    </div>
    <div @fader class="card-col col-md-8">
        <mat-card class="events-panel">
            <mat-card-header>
                <mat-card-title>Upcoming Events</mat-card-title>
                <span class="spacer"></span>
                <div *ngIf="auth.user$ | async as user">
                    <button *ngIf="auth.canEdit(user)" mat-raised-button (click)="createEvent(user)" color="primary"
                        class="create-button">
                        <mat-icon inline="true">add</mat-icon>
                        Create
                    </button>
                </div>
            </mat-card-header>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="events.upcoming$ | async as events; else loadingEvents">
                        <div [@cardListFader]="events.length">
                            <mat-card appMaterialElevation *ngFor="let event of events" class="event"
                                (click)="displayDetails(event)">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h6 class="event-author">
                                            {{event.author}}
                                        </h6>
                                        <h4 class="event-title">
                                            {{event.title}}
                                        </h4>
                                        <p class="event-desc">
                                            {{ (event.description.length>6)? (event.description | slice:0:140)+'...':(event.description) }}
                                        </p>
                                        <div class="row details">
                                            <div class="col-md-6">
                                                <div>
                                                    <mat-icon inline="true">schedule</mat-icon>
                                                    <span class="align-to-icon">{{event.start.toDate() | date:'MM/dd'}}
                                                        {{event.start.toDate() | date:'h:mm a'}} -
                                                        {{event.end.toDate() | date:'h:mm a'}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <mat-icon inline="true">location_on</mat-icon>
                                                    <span class="align-to-icon"> {{event.building}} {{event.room}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- <img [src]="user.photoURL"> -->
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <ng-template #loadingEvents>
                        <div class="loading-spinner">
                            <p>Loading...</p>
                            <mat-progress-bar mode="query"></mat-progress-bar>
                        </div>
                    </ng-template>
                </div>
            </div>
        </mat-card>
    </div>
</div>