.card-col {
  padding-bottom: 1rem !important;
}

hr {
  margin-top: 0px;
  // background-color: #eee;
}

.events-panel {
  color: #333;
  background-color: #dddddd;
  // color: #fff;
  // background-color: #4e4e4e;
}

.event {
  margin-bottom: 1rem;
}

.event-title {
  font-size: 15px;
  margin-bottom: 0rem;
}

.event-author {
  font-size: 10px;
  font-weight: 800;
  margin-bottom: 0rem;
  text-transform: uppercase;
}

p {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
}

.event-info {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 0rem;
}

.detail-icon {
  color: #333;
  display: inline-flex;
  vertical-align: middle;
}

.spacer {
  flex: 1 1 auto;
}

.create-button {
  margin-bottom: 0.25rem;
}
