mat-card {
  padding: 0 !important;
  background-color: #2e2e2e;
  color: #fff;
}

mat-card.event {
  cursor: pointer !important;
}

.event {
  margin-bottom: 1rem;

  .align-to-icon {
    font-size: 12px !important;
  }
}

.card-col-header {
  margin-bottom: 1rem;
  display: flex;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 1rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .card-col {
//   margin-top: 2rem;
// }

.event-title {
  font-size: 15px;
  margin-bottom: 1rem;
}

.event-author {
  font-size: 10px;
  font-weight: 800;
  margin-bottom: 0rem;
  text-transform: uppercase;
}

p {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
}

.event-info {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 0rem;
}

.create-button-container {
  position: fixed;
  bottom: 0;
  z-index: 11;
  pointer-events: none;
  width: 100%;
}

.create-button-inner {
  display: flex;
  justify-content: flex-end;
}

// .create-button {
//   margin-bottom: 2rem;
//   margin-right: 2rem;
//   font-size: 20px !important;
//   pointer-events: all !important;
// }

img {
  overflow: hidden;
  border-radius: 0px;
  margin-right: 1rem;
}

mat-card img {
  object-fit: cover;
  max-width: 200px;
  // max-height: 100%;
}

mat-card p {
  min-height: 35px;
}

.mat-card {
  border-radius: 0px !important;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card-content {
    height: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-content {
    height: 190px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-content {
    height: 175px;
  }
}

.card-text {
  width: 75%;
  padding: 1rem;
  margin-right: 1rem;
}

.loading-spinner {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-spinner {
  height: 20px !important;
}
