/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  background-color: #242424;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  padding-top: 1rem;
}

.mat-card {
  opacity: 0.95 !important;
}

.details {
  margin-top: 1rem;
}

.align-to-icon {
  font-size: 14px;
  position: absolute;
  margin-bottom: 5px;
  margin-left: 5px; /* optional */
}

.card-hover {
  transition: all 300ms ease-out !important;
}

.card-hover:hover {
  transform: scale(1.01);
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
