<div class="main-content">
    <div class="container-fluid">
        <div @fadeUp class="row">
            <div class="col-md-8 offset-2">
                <div *ngIf="event$ | async as event">
                    <app-feed-card [event]="event" [tags]="tags">
                        <div *ngIf="tags$ | async as tags">
                            <app-tag-list [tags]="tags"></app-tag-list>
                        </div>
                    </app-feed-card>
                </div>
            </div>
        </div>
    </div>
</div>