<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-12">
            <small>{{data.start.toDate() | date:'MM/dd'}} {{data.start.toDate() | date:'h:mm a'}} -
                {{data.end.toDate() | date:'h:mm a'}}</small>
            <h2>{{data.title}}</h2>
        </div>
        <div class="col-md-12">
            <p> {{data.description}} </p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="tag-list">
        <mat-chip-list aria-label="Tag list">
            <mat-chip *ngFor="let tag of tags$ | async"> {{tag.name}} </mat-chip>
        </mat-chip-list>
    </div>
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>location_on</mat-icon>
            <div class="large" mat-line>{{data.building}} {{data.room}}</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>face</mat-icon>
            <div class="large" mat-line>{{data.author}}</div>
        </mat-list-item>
    </mat-list>
    <div class="actions">
        <button mat-raised-button type="button" class="button" (click)="rsvp()">RSVP</button>
        <button mat-raised-button color="primary" type="button" class="button" (click)="subscribe()">Subscribe</button>
    </div>
</mat-dialog-content>