.button {
  margin-right: 1rem;
}

.large {
  font-size: 14px !important;
}

.small {
  font-size: 12px !important;
}

.mat-list-text {
  height: 14px !important;
  padding-left: 0;
}

.actions {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.tag-list {
  margin-top: 1rem;
  height: 40px;
}

.main-content {
  padding: 0 3rem 0 3rem;
}

.details-container {
  margin-top: 1rem;
}

p {
  padding: 0px !important;
}
