.button {
  margin-right: 1rem;
}

.large {
  font-size: 14px !important;
}

.small {
  font-size: 12px !important;
}

.mat-list-text {
  height: 14px !important;
  padding-left: 0;
}

.actions {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.tag-list {
  margin-top: 1rem;
}
